$bg = #e8e8e8
$blockbg = #fff
$gray = #828282
$headbg = #ff6666

$titleCor = #333333 

$padding = 10px
$boxshadow = 0 3px 3px rgba(0,0,0,.1)

.test
  border-top solid 1px #ddd
  border-bottom solid 1px #ddd
  