
.app-header
    width 100%
    position absolute
    left 0
    top 0
    z-index $headZindex
    height $headH
    line-height $headH
    font-size 16px
    color #ffffff
    text-align center
    
.app-container 
    padding-top $headH
    padding-bottom $footH
    overflow hidden
    position relative
    height 100%
    
.app-footer
    width 100%
    position absolute
    left 0
    bottom 0
    z-index $footZindex
    height $footH
    
    
    